//Image
#upload-preview{
  width: 200px;
  height: auto;
}
.pack-form {
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
}
.pack-title {
  margin-top: 50px;
  margin-bottom: -15px;
  text-align: center;
  color: #929292;
}
.nav-tabs > li > a {
  border-radius: 0;
}
.col-xs-6, .col-xs-12{
  margin-top: 15px;
}
