.mgv-hero-slider{
  position: relative;
  width: 100%;
  min-height: 75vh;
}
.mgv-hero-slide{
  position: relative;
  min-height: 75vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transform-style: preserve-3d;
}
.mgv-hero-slide > h2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: #fff;
  font-weight: 500;
  background: #0f1014;
  padding: 15px 20px;
  font-size: 46px;
}
.mgv-hero-slider .slick-prev{ left: 30px; }
.mgv-hero-slider .slick-next{ right: 30px; }

.slick-prev,
.slick-next{
  background: rgba(0,0,0,0.8);
  color: #fff;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  padding: 2px;
  padding-left: 4px;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus{
  background: rgba(0,0,0,0.9);
}
.slick-next:before{
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 32px;
}
.slick-prev:before{
  font-family: 'FontAwesome';
  content: "\f104";
  font-size: 32px;
}